<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Securing Your Drupal Site: advice for site builders and coders</title>

		<meta name="description" content="Broad introduction to Drupal Security">
		<meta name="author" content="Greg Knaddison">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
        <link rel="stylesheet" href="custom.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Securing Your Drupal Site</h1>
					<h3>Advice for site builders and coders</h3>
					<p>
						<small>Presented by
                            <ul>
							<li><a href="https://drupal.org/u/greggles">Greg Knaddison</a> / <a href="http://twitter.com/greggles">@greggles</a></li>
                            <li><a href="https://drupal.org/u/mlhess">Michael Hess</a> / <a href="http://twitter.com/mlh407">@mlh407</a></li>
                            </ul>
                        </small>
					</p>
					<p>
						<small>These slides: <a href="http://cardcorp.github.io/drupal-security-intro/">http://cardcorp.github.io/drupal-security-intro/</a></small>
					</p>
                    <aside class="notes">
                        -- Start with Greg
                    </aside>
                </section>
				<section>
					<h2><a href="https://twitter.com/greggles">@greggles Knaddison</a></h2>
					<div>
						<div style="float: right; width:250px;">
							<a href="https://www.card.com/" target="_blank">
								<img src="assets/cardLogo-vertical-rgb.png" alt="CARD.com logo" />
							</a>
						</div>
						<ul style="float:left">
							<li>Contributed to Drupal for 8+ years</li>
							<li>Pretty interested in security</li>
							<li>Wrote <a href="http://crackingdrupal.com">Cracking Drupal</a></li>
							<li><a href="https://www.card.com">CARD.com</a> - mobile alternative to a bank</li>
							<li><a href="https://www.card.com/careers">https://www.card.com/careers</a></li>
						</ul>
					</div>
				</section>
                <section>
                    <h2><a href="https://twitter.com/mlh407">Michael Hess </a></h2>
                    <div>
                        <div style="float:right; width:250px;">
                            <a href="http://www.umich.edu" target="_blank">
                                <img src="assets/michigan-logo.jpg" alt="Michigan Logo" />
                            </a>
                        </div>
                        <ul style="float:left">
                            <li>Contributed to Drupal for 6+ years</li>
                            <li>Hosts 900 sites at the University of Michigan</li>
                            <li>Works on large scale health care projects. </li>
                            <li>Teaches 3 classes on Content management platforms </li>
                        </ul>

                    </div>
                </section>
				<section data-markdown>
					<script type="text/template">
                        ## Lots of things to cover
                        - Why?
                        - Server environment
                        - Server config
                        - Personal practices
                        - Drupal Configuration
                        - Code
                        ###*We will cover them all a little*
					</script>
				</section>
                <section cite="https://www.owasp.org/index.php/Top10#OWASP_Top_10_for_2013">
                    <h3>Common Web Vulnerabilities</h3>
                    <h4>From Open Web Application Security Project</h4>
                    <ol>
                        <li>Injection such as SQL, OS, and LDAP injection.</li>
                        <li>Broken Authentication and Session Management.</li>
                        <li>Cross-Site Scripting (XSS).</li>
                        <li>Insecure Direct Object References.</li>
                        <li>Security Misconfiguration.</li>
                        <li>Sensitive Data Exposure.</li>
                        <li>Missing Function Level Access Control (access bypass).</li>
                        <li>Cross-Site Request Forgery.</li>
                        <li>Using Components with Known Vulnerabilities.</li>
                        <li>Unvalidated Redirects and Forwards.</li>
                    </ol>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## What are the most common Drupal contrib issues?
                        <img height="500"  src="assets/Drupal_Security_-_SA_Analysis_vuln_types_all_time.png" alt="Vulnerabilities by type all time" />
                    </script>
                </section>
                <section data-markdown>
                    <script type="text/template">
                        ## What are the most common issues?
                        <img height="500"  src="assets/Drupal_Security_-_SA_Analysis_vuln_types.png" alt="Vulnerabilities by type" />
                    </script>
                    <aside class="notes">
                        After this Switch to Michael
                    </aside>

                </section>

                <section data-background="assets/target.jpg">
                    <h1 style="color:white">Why</h1>
                    <div >
                        <p style="color:white">
                            The FBI notes that cyber attacks are eclipsing terrorism as the primary threat facing the US.
                        </p>
                        <p style="color:white" >
                            75% of small and medium business surveyed reported cyber attacks.
                        </p>
                        <p style="color:white">
                            A single breach in 2010 reported 38 terabytes of data stolen.  That is 2X the size of the Library of Congress.
                        </p>
                    </div>

                </section>
                <section>
                    <h4> Everyone gets hacked, so it must be trendy. </h4>
                </section>
                <section  data-background="assets/biggest-hacks.jpg">
                </section>
                <section>
                    <h2>Stories for context</h2>
                    <p>All details have been changed....</p>
                </section>
                <section>
                    <h2>The Tale of the Red Ribbon Hacker</h2>
                    <p>Our first tale is about a little online shoe store run by a kind woman named Myrtle.</p>
                    <p>From her little online store, she mails shoes around the world, and each shoe box comes tied up in a red ribbon like a box of candy.</p>
                    <p>Because Myrtle is no dummy, her website takes customers’ orders and then redirects them to a third party for payments.
                        This keeps her site PCI-compliant. And gives Myrtle more time to tie red ribbons into bows — she has nothing to worry about!</p>
                </section>
                <section>
                    <h2>Background</h2>
                    <p>Myrtle’s Shoe Store website first launched on Nov. 15, 2012.</p>
                    <p> The site receives about 3,000 orders per month — that’s a lot of ribbons!</p>
                    <p> The dev shop that built the site did not provide support after the site went live. The shoe store also does not have a full-time web person on staff.</p>
                    <p> On March 11th, 2013 </p>
                    <p> Myrtle noticed that the shoe store was not receiving any money into its account. Yet, the order volume had not changed. She called the credit card company. The company told her they had not seen any orders come through in the past 2 weeks. </p>
                    <p> She went online and placed an order. All seemed to work as it should.</p>
                    <p>Myrtle was so confused, Where was all the money?</p>
                </section>
                <section>
                    <h2>What happened</h2>
                    <p>The shoe store’s payment gateway URL configuration was not pointing to its payment gateway.</p>
                    <p class='fragment'> There was a POST request on the page to change this URL by someone at the company's IP address.    </p>
                    <p class='fragment'> Someone had used a security vulnerability in Ubercart and added Javascript into a field.</p>
                    <p class='fragment'> Normally the Javascript would be escaped, but since the site was not patched for SA-CONTRIB-2013-020 - Ubercart - Cross site scripting (XSS), the Javascript executed!</p>
                    <aside class="notes">
                      Go back to Greg
                    </aside>
                </section>
				<section data-markdown>
					<script type="text/template">
						## What is XSS?
						- Cross Site Scripting
						- Code in the browser
						- Making requests
						- Parsing responses
						- Javascript, Flash, Java, etc.
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Testing for XSS
						- &lt;script&gt;alert('title');&lt;/script&gt;
						- &lt;img src="a" onerror="alert('title');"&gt;
						- Catches 90%
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Fixing XSS?
						- Filter text
						- On output to browser
						- As late as reasonable
						- Some API filters where reasonable
					</script>
				</section>
				<section>
					<h2>Precautions against XSS</h2>
					<a href="http://drupalscout.com/knowledge-base/drupal-text-filtering-cheat-sheet-drupal-6" target="_blank">
						<img height="500"  src="assets/filtering_text.png" alt="Filtering text" />
					</a>
				</section>
                <section>
                    <h2>Demo</h2>
                    <p>Live Demo</p>
                </section>
                <section data-markdown>
                    <script type="text/template">
                        ## What is CSRF?
                        - path
                        - does not confirm intent

                    </script>
                </section>
                <section data-markdown>
                    <script type="text/template">
                        ## Testing for CSRF
                        - $_GET, $_POST, no use of drupal_get_token
                        ## Fixing CSRF?
                        - Use FAPI
                        - Send and validate tokens
                        - [Drupalscout.com csrf](http://www.drupalscout.com/tags/csrf)
                    </script>
                </section>
				<section data-markdown>
					<script type="text/template">
						## What is Access Bypass?
						- User can see or do something
						- That permissions/access should prevent
						### Where do we enforce it?
						- Menu 'access callback'
						- <code>if(user_access('see something'));</code>
						- Node access system
						- Entity access
						- Field access
						- Services & Ajax apis?
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Testing for Access Bypass
						- Visit node/nid etc.
						- Visit anything/%node
						- Use behat
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Fixing Access Bypass?
						- <code>user_access</code> for permissions
						- <code>node_access</code>
						- <code>entity_access</code>
						- <code>$query->addTag('node_access');</code>
						- menu definitions
						- write automated tests
					</script>
                    <aside class="notes">
                       Go back to Michael
                    </aside>
				</section>
                <section>
                    <h2> Second Story</h2>
                    <p> Our second tale is about Harpers' LLC, a small web development company in upstate New York based out of a stately old house.</p>
                    <p> Harpers had just started work on a new site two days before. The site was provisioned at a brand-new domain. It was in maintenance mode. </p>
                    <p>The site was set up with a newly ordered domain name.</p>
                    <p> The site’s modules and core install were all up to date.</p>
                    <p> The site was a simple brochure-type site with only one admin account.</p>
                    <p> The site was set up on a new development server, dedicated just to Harpers’ dev sites</p>
                    <p>Despite all this, the site was hacked. But how?</p>
                </section>
                <section>
                    <h2>How It Began…</h2>
                    <p class="fragment">On the third day of developing the site, Jeremy, the content manager, was going to set up the content types.</p>
                    <p class="fragment"> He stopped in horror. The site had viagra spam  all over the front page.</p>
                    <p class="fragment">Jeremy was not happy.</p>
                </section>
                <section>
                    <h2>Call for help</h2>
                    <p>Jeremy called Jean, in-house IT person, who began looking at logs to see how an up-to-date Drupal site got compromised. </p>
                    <p>On a gray and windy day at the old Harpers’ house, Jean pulled the access logs for the site.  </p>
                    <p> But she found only known and trusted IP addresses had accessed the site.</p>
                    <p>Jean had no idea what had happened, so she restored a backup.</p>
                    <p> 2 days latter, it happened again</p>
                    <p> Only computers inside of Harpers' office had accessed the site.</p>
                    <p> Jean ran a virus scan on the computers that had accessed the site.</p>
                    <p> The scan was clean.</p>
                </section>
                <section>
                    <h2>What happened?</h2>
                    <p> By default apache on most OS's will run as a single user </p>
                    <p> That user has access to READ all the files for all sites on the system</p>
                    <p> Someone had compromised another site on the server.</p>
                    <p> Using that site, they were able to read settings.php and connect to the new Drupal site's database.</p>
                    <p> They were able to inject spam by updating the table directly. The attacker searched the entire file system for settings.php and then ran commands to update the database on any site they found. </p>
                </section>
                <section>
                    <h2>Server Configuration</h2>
                    <p> Do not allow a single apache instance to access multiple sites. Configure privilege separation. </p>
                    <p> Apache config is outside the scope of this presentation, but look into suphp, php-fpm and mod-itk. </p>
                    <p> Be careful of using shared hosting without proper configuration.</p>
                    <p>Don't bring a site back online after a compromise unless you understand how it was hacked, and how to prevent future compromises.</p>
                </section>
                <section data-markdown>
                    <script type="text/template">
                     ## Drupal specific hosting
                        - Can your hosting provider help you improve your security process?
                        - [Pantheon](https://www.getpantheon.com/)
                        - [Acquia Cloud](http://www.acquia.com/products-services/acquia-cloud) & [Insight](https://insight.acquia.com)
                        - [Drupal.org/hosts](https://www.drupal.org/hosts)
                        - Tuned for Drupal security (and performance)
                        - Code, DB, uploaded files, config
                        - Managed security updates
                        - Remote administration (Acquia)
                        </script>
                    </section>
                 <section>
                        <h2> Some best practices</h2>
                        <h3 class="fragment">Brush your teeth!</h3>
                  </section>

                <section>
                    <h4>Brushing your teeth is a best practice.</h4>
                    <p class="fragment">For security, you can't check a list and be done.</p>
                    <p class="fragment">You must keep working at it. It is a process, not a one-time task.</p>
                    <p class="fragment"> Which is why I hope everyone brushes their teeth. </p>
                    <img class="fragment" src="assets/badmouth.jpg" width="60%">
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Security process

                        - Ongoing maintenance
                        - Budget for security
                        - Managed hosting
                        - Drupal.org packaging infrastructure
                    </script>
                    </section>
                <section>
                    <h2>Know Your Risk Level</h2>
                    <p>Blog vs. complex site. Your blog is likely to be compromised to send spam or to act in part of a bot net.</p>
                    <p> Your complex site might be compromised for the data it has. </p>
                    <p> Security is a balance.</p>
                    <P> Is your site a target?</P>
                </section>
                <section data-markdown>
                    <script type="text/template">
                        ## PCI, HIPAA, SCADA, XYZ, PDQ
                        - Be aware of your regulations
                        - [Drupal PCI Compliance Report](http://drupalpcicompliance.org/)
                        - Anyone work in HIPAA environment?
                        - FedRAMP/FISMA Certification & Accreditation (C&A)?
                        - Anyone work with Drupal in SCADA?
                    </script>
                </section>
                <section>
                    <h2> Follow the Drupal Security Team</h2>
                    <ul>
                        <li>On Twitter (twitter.com/drupalsecurity)</li>
                        <li>Via email (on your drupal.org user edit page under newsletters)</li>
                        <li>Via Web (drupal.org/security and drupal.org/security/contrib)</li>
                    </ul>
                </section>
                <section>
                    <h2> If you find a security issue...</h2>
                    <p> Or think you find a security issue, report it to the team (security@drupal.org) </p>
                    <p> Can also use the "Report a security vulnerability" link on all project pages</p>
                </section>
                <section data-markdown>
                    <script type="text/template">
                        ## Security process

                        - [Drupal Security Team](https://drupal.org/security-team)
                        - Keep Drupal code secure in core and contrib
                        - Educate the community on security best practices
                        - [Security Advisory](https://drupal.org/security) for every security release
                    </script>
                </section>
                <section>
                    <h2>Site builders and module authors </h2>
                    <p> Writing secure code: https://www.drupal.org/writing-secure-code</p>
                    <p>How to secure your site: https://www.drupal.org/security/secure-configuration</p>
                </section>
                <section>
                    <h2>Easy things to do</h2>
                    <p class="fragment">Only use encrypted protocols.</p>
                    <p class="fragment">https/ftps/ssh/etc.</p>
                    <p class="fragment">Require SSH keys</p>
                    <p class="fragment">  Every change you make might impact the security of your site. Therefore, security needs to be in your workflow.</p>
                    <p class="fragment">Use supported versions (Soon time to update Drupal 6)</p>
                    <p class="fragment"> Do not use insecure hosting.  Multiple sites on a single server often use a common account.</p>
                    <p class="fragment"> Do not use Drupal Multi site, unless you have a deep understand of apache/nginx and file perms. </p>
                    <p class="fragment"><b>Take and verify backups.</b></p>
                </section>
                    <section>
                        <h1>Keep Your Site Updated</h1>
                        <p>Always make sure you update after a security release comes out. </p>
                        <aside class="notes">
                            Go back to Greg
                        </aside>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## General tips

                            - [Roles and permissions](https://drupal.org/node/120614)
                            - Keep your site settings secure
                            - Permissions
                            - Text formats
                            - PHP module
                            - PHP in other modules
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Modules enhancing security

                            - [Paranoia](https://drupal.org/project/paranoia)
                            - [Security Review](https://drupal.org/project/security_review)
                            - [Permissions Lock](https://drupal.org/project/permissions_lock)
                            - [Two Factor Authentication](https://drupal.org/project/tfa)
                            - [Hacked!](https://drupal.org/project/hacked)
                            - [Password policy](https://drupal.org/project/password_policy)
                        </script>
                    </section>

               
				<section data-markdown>
					<script type="text/template">
						## Drupal 8
						## Security improvements
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Twig

						Automatically sanitizes strings on output<sup>*</sup>

```
  # Drupal 7
  if (isset($variables['link_path'])) {
    $output = l($variables['name'] . $variables['extra'], $variables['link_path'], $variables['link_options']);
  }
  else {
    $output = '<span>' . drupal_attributes($variables['attributes_array']) . '>' . $variables['name'] . $variables['extra'] . '</span>';
  }
  return $output;
```
```
  # Drupal 8
  {% if link_path -%}
    <a{{ attributes }}>{{ name }}{{ extra }}</a>
  {%- else -%}
    <span{{ attributes }}>{{ name }}{{ extra }}</span>
  {%- endif -%}
```

						<small style="float: right; margin-top: 4em;"><sup>*</sup> [https://drupal.org/node/1825952](https://drupal.org/node/1825952)</small>
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Twig

						No PHP in templates

```
{% if link_path -%}
  <a{{ attributes }}>{{ name }}{{ extra }}</a>
{%- else -%}
  <span{{ attributes }}>{{ name }}{{ extra }}</span>
{%- endif -%}
```
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Drupal 8: WYSIWYG in core
						- Streamlined filter mechanism (server and client side)
						- No more full HTML as last resort

						![alt](assets/ckeditor_config.png)
						![alt](assets/allowed_html_tags.png)
					</script>

				</section>
				<section data-markdown>
					<script type="text/template">
						## Drupal 8: PHP

						Removed PHP module
						![alt](assets/php_module_162.png)
						![alt](assets/php_module_171.png)
					</script>
				</section>

				<section>
					<h2>Book on Security in Drupal</h2>
					<a href="http://crackingdrupal.com/" target="_blank">
						<img src="assets/cracking_drupal.png" alt="Filtering text" />
					</a>
				</section>
                <section>
                    <h2> Questions</h2>
                </section>
				<section>
					<h2>References</h2>
					<div>
						<div style="float: right;">
							<a href="http://definitivedrupal.org/" target="_blank">
								<img src="assets/dgd7-cover.jpg" alt="DGD7 cover" />
							</a>
						</div>
						<ul style="float: left;">
							<li>DGD7 chapter 6 (with thanks to Scor!)</li>
							<li><a href="http://drupal.org/security-team">http://drupal.org/security-team</a></li>
							<li><a href="http://www.drupalscout.com/">http://www.drupalscout.com/</a></li>
							<li><a href="http://www.drupalsecurityreport.org">http://www.drupalsecurityreport.org</a></li>
							<li><a href="http://groups.drupal.org/security">http://groups.drupal.org/security</a></li>
						</ul>
					</div>
				</section>
		<!-- The end -->
			</div>
		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>
			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme || 'sky', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>
	</body>
</html>
